html {
font-size: 62.5%;
}

*{
  background: black;
  padding: 0;
  margin: 0; 
}

h2{
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.6rem;
  color: white;
}

p{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: white; 
}

header{
  padding: 6px 0 6px 12px;
  height: fit-content;
  position: sticky;
  top: 0%;
  width: 100%;
  z-index: 8; 
  box-sizing: border-box;
  
}

#header_logo{
  width: 204px;
  margin: 0;

}

#logo-button{
  text-decoration: none;
  width: 204px;
  height: 48.94px;
  display: block;
  z-index: 11;
  
}

#hamburger { 
  font-size: 30px;
  display: inline-block;
  background: black;
  position: absolute;
  right: 24px;
  top: 50%;
  -ms-transform: translateY(-50%); 
  transform: translateY(-50%); 
  color: white;
  text-decoration: none;
}

#hamburger:hover{
  color:#df6416;
}


nav {
  background: rgb(0, 0, 0, 0.8); 
  width: 100%;
  height: 100%;
  overflow: hidden; 
  position: fixed;
  z-index: 9; 
  display: none;
  top: 0%;
  margin-left:-12px;
}

#nav-close {
  font-size: 30px;
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 24px;
  background: black;
  color: white;
  text-decoration: none;
}

#myLinks {
  margin-top: 50%
}
/* Style navigation menu links */
#myLinks a {
  text-align: center;
  color: white;
  padding: 14px 0;
  text-decoration: none;
  display: block;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
}

#myLinks a:hover{
  color:#df6416;
}
#Mission{
  overflow: hidden;  
}

#mission-content{
  padding: 24px;
  position: relative;
}

.volunteer-button{ 
  margin-top: 8px;
  color: white;
  background:#df6416;
  padding:10px 18px;
  text-decoration: none;
  border-radius: 17.5px;
  float: right;
  display: block;
  text-align: center;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8rem;
  font-size: 1.8rem;
}

.volunteer-button:hover{
  background:#ff7016;
}

#What{
  padding: 12px 0 12px 24px; 

}

#What h2{
  padding: 12px 24px 12px 0;
}

#What p{
  padding: 0;
}
#horizontal-scrolling-container{
  display: flex; 
  flex-wrap: nowrap; 
  overflow-x: auto;
}

.cards{
  width:305px;
  display: inline-block;
  flex: 0 0 auto; 
}

#what2{
  padding:0 24px;
}

#what3{
  padding-right: 24px;
}
.cards img{
  width: 305px;
  height: 296px;
}

.cards p{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  padding: 0 4px;
}

blockquote{
  margin-top: 12px;
  font-size: 1.8rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: white;
}

figcaption {
  margin-top: 12px;
  font-size: 2.4rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  float: right;
  margin-bottom: 24px;
}

#end{
  padding: 12px 24px; 
}

#call-to-action{
  padding: 24px 0;
  overflow: hidden;
}

#call-to-action p{
  font-weight: 700;
  font-size: 2.4rem;
}

footer{
  text-align: center;
  display: block;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
}

footer a{
  
  color: white;
  padding: 6px 0;
  text-decoration: none;
  display: block;
  font-size: 3rem;
  width: fit-content;
  margin: auto;
}

footer a:hover{
  color:#df6416;
}

.dot {
  height: 36px;
  width: 36px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  z-index: 5;
  background: white;
}

#dot1{
  position: absolute;
  top: -12px; 
  left: 24px;
  background:#df6416;
}

#dot2{
  position: absolute;
  top: -12px; 
  left: calc(50% - 18px);
}

#dot3{
  position: absolute;
  top: -12px; 
  right: 24px;
}

#progress-bar-container{
  z-index:2;
  margin: 30px 0;
  padding: 0 28px;
  width: vw;
  height: 12px;
  position: relative;

}

#progress-bar{
  background: white;
  height: 12px;
  width: 100%;
  z-index: 3;
  margin: 0 12px 0 0;
  display: inline-block;
}

#progress-bar-shading{
  background:#df6416;
  width: 50%;
  z-index: 4;
  height: 12px; 
  display: inline-block;
}
#questionnaire-preface,  p{
  font-size: 1.8rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 12px 0; 
}
#questionnaire-container{
  overflow: hidden;
}
#page1 {
  padding: 12px 24px; 
  display: block;
}

.questionnaire-prompt{
  font-size: 2.4rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
form {
  margin: 6px 0; 
}

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: white;
}

.checkbox-container input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  margin-right: 12px;
}

.checkbox-container input:hover{
  background:grey;
}

.checkbox-container input:checked  {
  border-radius: 50%;
  background: #df6416;
}

.next-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 8px;
  color: white;
  background:#df6416;
  padding:10px 18px;
  font-size: 1.8rem;
  text-decoration: none;
  border-style: none;
  border-radius: 17.5px;
  float: right;
  display: block;
  text-align: center;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  width: 108px;
}

.next-button:hover{
  background:#ff7016;
}

.previous-button{
  border-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 8px;
  color: white;
  background:#df6416;
  padding:10px 18px;
  font-size: 1.8rem;
  text-decoration: none;
  border-radius: 17.5px;
  float: left;
  display: block;
  text-align: center;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
}

.previous-button:hover{
  background:#ff7016;
}

#page2, #page3{
  padding: 12px 24px; 
  display: none;
}

#court-jobs, #bus-jobs, #canteen-jobs, #peace-jobs, #mentoring-jobs, #prep-jobs, #committee-jobs{
  display: none;
}

#third-page-form{
  overflow: hidden;
}
#page3Preface{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.8rem;
}

.third-page-input-labels{
  color: white;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
}

.third-page-input{
  margin: 6px 0 12px 0;
  background: white;
  border-style: none;
  height: 26px; 
  width: 50%;
}

#email {
  width: 100%;
}

#DOB{
  background: white;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  width: 50%;

}
#location-container{
  display: block;
}

.location-options{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: white;
}

.location-options:hover{
  background: #df6416;
}

#thank-you{
  display: none;
  padding: 24px 24px; 
}

#thank-you h2{
  margin-bottom: 24px;
}

#thank-you p{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
}

@media screen and (min-width: 750px) {

  html {
    font-size: 75%;
  }

  header{
    padding: 24px 48px;
  }
  #hamburger {
    display: none;
  }

  #nav-close{
    display: none;
  }
  nav{
    display:inline-block;
    position: absolute;
    right: 48px;
    top: 50%;
    width: fit-content;
    z-index: 9;
    height: 60px;
    -ms-transform: translateY(-50%); 
     transform: translateY(-50%); 
  }
  #myLinks{
    display: inline-block;
    margin: 0;
    height: 60px; 
  }
  #myLinks a{
    margin: 0 12px 0 0;
    display: inline-block;
    font-size: 1.6rem;
  }

  #Mission{
    display: flex;
    padding: 0 48px;
    align-items: center;
  }
  #Mission img{
    min-width: 500px;
    max-width: 668px;
    order: 2;
  }

  #mission-content{
    order: 1;
    padding: 48px 12px 48px 0;
  }

  #Mission .volunteer-button{
    float: left;
  }

  #What{
    padding: 12px 48px;
  }

  #end{
    padding: 12px 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

   #end img{
    max-width: 50%;
    flex: 1 1 50%;
  }

  #E1T1{
    box-sizing: border-box;
    padding-right: 24px;
    flex: 1 1 50%;
  }

  #call-to-action{
    order: 4;
    box-sizing: border-box;
    padding-left: 24px; 
    flex: 1 1 50%;
  }
}

@media screen and (min-width: 1100px){
  #Mission, #What, #end, header{
    padding-left: 10%;
    padding-right: 10%;
  }

  nav{
    right: 10%;
  }
  #Mission img{
    max-width: 70%;
  }
  #horizontal-scrolling-container{
    justify-content: space-between;
  }

  .cards{
    max-width: 30%;
    display: inline-block;
    flex: 1 0 auto; 
    padding: 0;
  }
  #what2, #what3{
    padding: 0;
  }
  .cards img{
    width: 100%;
    height: auto;
  }

  #progress-bar-container{
    margin: 30px auto;
    width: 632px;
  }

  #questionnaire-container{
    margin: 0 auto;
    width: 800px;
  }

  #thank-you h2{
    font-size: 4rem;
  }

}